<h2>
  Checkups for
  <% if @environment %>
    <%= link_to "#{@environment.name}", site_environment_path(@environment.site, @environment) %>
  <% else %>
    all environments
  <% end %>
</h2>

<%= paginate @checkups %>

<table>
  <tr>
    <th>Site and environment</th>
    <th>Healthy</th>
    <th>Name lookup time</th>
    <th>Start transfer time</th>
    <th>Total time</th>
    <th>Downloaded bytes</th>
    <th>Retries used</th>
    <th>Error</th>
    <th>Performed on</th>
  </tr>

<% @checkups.each do |checkup| %>
  <tr class='<%= checkup.healthy? ? 'healthy' : 'not-healthy' %>'>
    <td><%= link_to "#{checkup.environment.site.name} #{checkup.environment.name}", checkup %></td>
    <td><%= checkup.healthy %></td>
    <td><%= checkup.name_lookup_time %></td>
    <td><%= checkup.start_transfer_time %></td>
    <td><%= checkup.total_time %></td>
    <td><%= checkup.downloaded_bytes %></td>
    <td><%= checkup.retries_used %></td>
    <td><%= checkup.error %></td>
    <td><%= checkup.performed_on %></td>
  </tr>
<% end %>
</table>
