<%= form_for([@site, @environment]) do |f| %>
  <% if @environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h2>

      <ul>
      <% @environment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => 'production' %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :placeholder => 'http://www.example.com/' %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout, :placeholder => @environment.default.timeout %>
  </div>
  <div class="field">
    <%= f.label :retries %><br />
    <%= f.number_field :retries, :placeholder => @environment.default.retries %>
  </div>
  <div class="field">
    <%= f.label :between_retries_wait %><br />
    <%= f.number_field :between_retries_wait, :placeholder => @environment.default.between_retries_wait %>
  </div>
  <div class="field">
    <%= f.label :ip_relay_commands %><br />
    <%= f.text_field :ip_relay_commands, :placeholder => @environment.default.ip_relay_commands %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
