<div id='chart'></div>

<script type="text/javascript">
  $(function () {
    new Highcharts.Chart({
      chart: { 
        renderTo: 'chart',
        height: 512
      },
      title: { text: '<%= @title %>' },
      subtitle: { text: '<%= @subtitle %>' },
      xAxis: { type: 'datetime' },
      yAxis: [{
        title: { text: 'milliseconds' },
        min: 0
      },
      {
        title: { text: 'count' },
        min: 0,
        opposite: true
      },
      {
        title: { text: 'bytes' },
        min: 0,
        opposite: true
      }],
      plotOptions: {
        line: {
          pointStart: <%= @point_start %>,
          pointInterval: <%= @point_interval %>
        }
      },
      series: [{
        name: 'Name Lookup Time',
        data: <%= @charts[:name_lookup_time].data.html_safe %>,
        yAxis: 0
      },
      {
        name: 'Start Transfer Time',
        data: <%= @charts[:start_transfer_time].data.html_safe %>,
        yAxis: 0
      },
      {
        name: 'Total Time',
        data: <%= @charts[:total_time].data.html_safe %>,
        yAxis: 0
      },
      {
        name: 'Unhealthy Checkups',
        data: <%= @charts[:unhealthy_checkups].data.html_safe %>,
        yAxis: 1
      },
      {
        name: 'Retries Used',
        data: <%= @charts[:retries_used].data.html_safe %>,
        yAxis: 1
      },
      {
        name: 'Downloaded Bytes',
        data: <%= @charts[:downloaded_bytes].data.html_safe %>,
        yAxis: 2
      }]
    });
  });
</script>
