<h1>Listing <%= link_to @site.name, site_path(@site) %> environments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @environments.each do |environment| %>
  <tr>
    <td><%= environment.name %></td>
    <td><%= environment.url %></td>
    <td><%= link_to 'Show', site_environment_path(@site, environment) %></td>
    <td><%= link_to 'Edit', edit_site_environment_path(@site, environment) %></td>
    <td><%= link_to 'Destroy', site_environment_path(@site, environment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Environment', new_site_environment_path %>
