<h2><%= link_to @site.name, site_path(@site) %> environments</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Timeout</th>
    <th>Retries</th>
    <th>Between retries wait</th>
    <th>Ip relay commands</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @environments.each do |environment| %>
  <tr>
    <td><%= link_to environment.name, site_environment_path(@site, environment) %>
    <td><%= environment.url %></td>
    <td><%= environment.timeout %></td>
    <td><%= environment.retries %></td>
    <td><%= environment.between_retries_wait %></td>
    <td><%= environment.ip_relay_commands %></td>
    <td><%= environment.enabled %></td>
    <td><%= link_to 'Chart', :action => :chart, :id => environment.id %></td>
    <td><%= link_to 'Checkups', site_environment_checkups_path(@site, environment) %></td>
    <td><%= link_to edit_button, edit_site_environment_path(@site, environment) %></td>
    <td><%= link_to destroy_button, site_environment_path(@site, environment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_button, new_site_environment_path %>
