<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <b>Name:</b>
  <%= @environment.name %>
</p>

<p>
  <b>Url:</b>
  <%= @environment.url %>
</p>

<p>
  <b>Timeout:</b>
  <%= @environment.timeout %>
</p>

<p>
  <b>Retries:</b>
  <%= @environment.retries %>
</p>

<p>
  <b>Between retries wait:</b>
  <%= @environment.between_retries_wait %>
</p>

<p>
  <b>Ip relay commands</b> (<%= link_to 'test alert', :action => :test_alert %>):
  <%= @environment.ip_relay_commands %><br />
</p>

<p>
  <b>Enabled:</b>
  <%= @environment.enabled %>
</p>

<%= link_to 'Chart', :action => :chart %> |
<%= link_to 'Checkups', site_environment_checkups_path(@site, @environment) %> |
<%= link_to 'Edit', edit_site_environment_path(@site, @environment) %> |
<%= link_to 'Back', site_environments_path %>
