<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <b>Name:</b>
  <%= @environment.name %>
</p>

<p>
  <b>Url:</b>
  <%= @environment.url %>
</p>

<p>
  <b>Timeout:</b>
  <%= @environment.timeout %>
</p>

<p>
  <b>Retries:</b>
  <%= @environment.retries %>
</p>

<p>
  <b>Between retries wait:</b>
  <%= @environment.between_retries_wait %>
</p>

<p>
  <b>Ip relay commands (<%= link_to 'test alert', "#{site_environment_path(@site, @environment)}/test_alert" %>):</b>
  <%= @environment.ip_relay_commands %><br />
</p>


<%= link_to 'Edit', edit_site_environment_path(@site, @environment) %> |
<%= link_to 'Back', site_environments_path %>
