<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout, :placeholder => Settings.default!.timeout %>
  </div>
  <div class="field">
    <%= f.label :retries %><br />
    <%= f.number_field :retries, :placeholder => Settings.default!.retries %>
  </div>
  <div class="field">
    <%= f.label :between_retries_wait %><br />
    <%= f.number_field :between_retries_wait, :placeholder => Settings.default!.between_retries_wait %>
  </div>
  <div class="field">
    <%= f.label :ip_relay_commands %><br />
    <%= f.text_field :ip_relay_commands, :placeholder => Settings.default!.ip_relay_commands %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
